@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

#my-logo {
  position: static;
  width: 77px;
  height: 24px;
  left: 12px;
  top: 10px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
  color: #fff;
}

.tool-flex {
  display: flex;
}

.logo {
  position: static;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 101px;
  height: 44px;
  left: 1px;
}

.container-header {
  position: fixed;
  width: 100%;
  height: 48px;
  margin-right: 0;
  background-color: rgb(78, 76, 76);
  top: 0;
  left: 0;
}

.header-section {
  width: 200px;
}

.container-header .tool-flex {
  display: flex;
}

#show-menu {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 355px;
  top: 5px;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: row;
}

.bar-menu {
  position: static;
  left: 20%;
  right: 18%;
  margin-right: 50px;
  top: 20%;
  bottom: 20%;
  flex: none;
  order: 0;
  flex-grow: 0;
}

@media only screen and (min-width: 992px) {
  .container-header {
    height: 72px;
    width: 100%;
  }

  .main-headline {
    overflow-x: hidden;
  }

  .header-section {
    margin-left: 142px;
  }

  #my-logo {
    margin-top: 26px;
  }

  #show-menu {
    display: none;
  }

  .nav-bar {
    margin-left: 800px;
    background-image: url("../images/Union.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 25px;
    margin-right: 156px;
    margin-top: -26px;
    width: 600px;
  }

  .nav-bar ul {
    display: flex;
    width: 255px;
    margin-top: -50px;
    padding: 12px 60px;
    justify-content: space-around;
    height: 40px;
    right: 50px;
  }

  .navigation li a {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-decoration: #fff;
    width: 45px;
    height: 20px;
    top: 10px;
    display: flex;
    align-items: center;
    color: #fff;
    flex: none;
  }
}

.welcome {
  position: static;
  width: 357px;
  height: 124px;
  left: 24px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 60px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.hello {
  margin-top: 100px;
}

.welcome h1 {
  margin-left: 24px;
}

.text-supporting {
  position: static;
  width: 337px;
  height: 27px;
  top: 100px;
  left: 24px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 13px;
}

.description p {
  margin-top: -240px;
}

#me {
  margin-top: 40px;
  margin-left: 10px;
}

.description {
  position: static;
  width: 337px;
  height: 123px;
  left: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 270px 24px;
}

.social-media {
  flex-direction: row;
  align-items: center;
  padding: 0;
  position: absolute;
  width: 220px;
  height: 50px;
  top: 450px;
  left: -12px;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 24px 0;
}

.card1-work a img {
  padding-bottom: 2px;
}

.category li img {
  margin-left: -90px;
}

.social-media ul li img {
  position: static;
}

.container-headline {
  background-repeat: no-repeat;
  padding-top: 30px;
  height: 577px;
  width: 425px;
  border-radius: 0;
  background-image: url("../images/background-mobile.png");
  background-size: 165px;
  background-position-x: right;
  background-position-y: 170px;
  background-color: black;
}

.main-headline {
  position: static;
  width: 100%;
}

.hamburger div {
  width: 20px;
  height: 2px;
  background-color: #fff;
  margin: 3px;
  transition: all 0.3s ease;
}

.hamburger {
  position: relative;
  width: 30px;
  margin-top: -35px;
  cursor: pointer;
  margin-left: 370px;
}

.turn .line1 {
  transform: rotate(-45deg) translate(-3px, 4px);
}

.turn .line2 {
  opacity: 0;
}

.turn .line3 {
  transform: rotate(45deg) translate(-3px, -4px);
}

.navigation {
  list-style-type: none;
  background-color: #3c3a39;
  position: absolute;
  margin-top: -53px;
  margin-left: -40px;
  display: none;
  width: 100%;
  height: 590px;
}

.navigation-active {
  display: block;
}

ul li {
  display: inline;
}

li a {
  justify-content: space-around;
  padding-left: 20px;
}

.navigation li {
  display: block;
  margin-left: 30px;
  margin-top: 150px;
  margin-bottom: -120px;
}

.navigation li a {
  width: 227px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-decoration: none;
  margin-top: 40px;
  color: #fff5e1;
}

@media only screen and (min-width: 992px) {
  .container-headline {
    width: 2500px;
    height: 870px;
    background-size: 600px;
    background-position-y: top;
    background-image: url("../images/Illustration-header.png");
  }

  .hamburger div {
    display: none;
  }

  .main-headline {
    width: 9%;
    overflow-x: hidden;
  }

  .welcome {
    margin-left: 123px;
    top: 240px;
  }

  .text-supporting {
    margin-left: 138px;
  }

  #me {
    margin-top: 860px;
  }

  .description {
    margin-left: 148px;
    width: 566px;
    margin-top: 445px;
  }

  .social-media ul {
    display: flex;
    flex-direction: column;
    margin-top: -100px;
  }

  .social-media ul li {
    justify-content: space-around;
    padding: 10px;
  }
}

.works {
  display: grid;
  width: 425px;
  margin-top: 24px;
}

.recent-work-title {
  position: static;
  height: 50px;
  margin-left: 28px;
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 30px;
  display: flex;
  align-items: center;
  color: black;
  flex: none;
}

.image-recent {
  background: url("../images/recent-work.png");
  background-repeat: no-repeat;
  width: 366px;
  height: 245px;
  margin-left: 28px;
  margin-right: 24px;
  margin-top: 140px;
  background-size: 364px;
}

#recent-line {
  margin-top: 180px;
  margin-left: -354px;
  display: flex;
  order: 2;
}

.recent {
  margin-top: 30px;
}

hr {
  width: 355px;
  border: 2px black;
  margin-top: 40px;
  height: 1px;
  background: rgb(0, 0, 0);
}

.recent-detail {
  margin-left: 28px;
  width: 367px;
  margin-right: 24px;
}

.multi {
  font-family: 'Crete Round', sans-serif;
  font-size: 34px;
  line-height: 44px;
  font-style: normal;
  font-weight: normal;
}

.recent-detail p {
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  color: #091e42;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

.used-lg {
  margin-left: -50px;
  margin-top: 25px;
}

.used {
  border: 1px solid #8993a4;
  padding: 10px;
  margin-left: 8px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  left: -20px;
}

.used1-fr {
  margin-left: -30px;
  margin-top: 25px;
}

.btn-position {
  margin-left: -190px;
  margin-top: -40px;
}

.recent-btn {
  margin-left: 0;
  margin-top: 30px;
  position: static;
  width: 120px;
  padding: 5px 5px 5px 15px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
}

.recent-btn:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  box-sizing: border-box;
}

.work-btn {
  align-items: center;
  margin-top: -18px;
  margin-left: -190px;
  display: flex;
  height: 50px;
}

.see-btn {
  padding-right: 217px;
  padding-left: 140px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
}

.see-btn:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  box-sizing: border-box;
}

.card-work {
  display: grid;
  margin-left: 24px;
  padding-top: 24px;
  margin-top: 24px;
  grid-gap: 24px;
  margin-bottom: 24px;
  margin-right: 24px;
  grid-template-rows: repeat(5, 386px);
}

.card1-work {
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%);
  width: 357px;
  margin-left: 8px;
  height: 386px;
}

.card1-work-content {
  position: relative;
  top: -330px;
}

.work-title {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #fbf8f7;
  margin: 0 16px 0 16px;
  position: static;
  width: 295px;
  height: 81px;
  left: 16px;
  top: 8px;
  flex: none;
  font-size: 36px;
  line-height: 44px;
}

.card1-work-content p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 18px 16px 0 16px;
  font-size: 18px;
  line-height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
  color: #fbf8f7;
}

.used1 {
  background-color: rgb(78, 76, 76);
  padding: 10px;
  color: #fbf8f7;
  margin-left: 8px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  left: -20px;
}

.main-about {
  background-color: black;
  width: 425px;
  margin-top: 80px;
  height: 1700px;
}

.abt-title {
  position: static;
  width: 327px;
  height: 79px;
  margin: 0 24px 0 24px;
  padding-top: 120px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 20px;
  color: #ff6b00;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
}

.abt-text {
  position: static;
  width: 353px;
  height: 148px;
  margin: 12px 24px 24px 24px;
  top: 223px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #f4f5f7;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.abt-frame {
  margin-top: -90px;
  margin-left: 232px;
  width: 45%;
}

.abt-position {
  margin-left: -165px;
  margin-top: -40px;
}

.abt-btn {
  margin-left: 25px;
  margin-top: -5px;
  width: 137px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  padding-right: 170px;
  padding-left: 25px;
}

.abt-btn:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  box-sizing: border-box;
}

#abt-line {
  background-color: #fbf8f7;
  margin-top: 10px;
}

.contact ul {
  width: 327px;
}

.category li ul li {
  padding-bottom: 2px;
  align-items: center;
  color: #f4f5f7;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 43px;
}

.category li ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  position: static;
  margin-top: 40px;
  margin-bottom: -150px;
  width: 225.46px;
  height: 370.46px;
  margin-left: 11.77px;
}

h3 {
  margin-top: -23px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #f4f5f7;
  display: flex;
  align-items: center;
  text-align: center;
}

.lang {
  margin-left: 70px;
  margin-top: -40px;
}

.fram {
  margin-left: 80px;
  margin-top: -35px;
}

.skill {
  margin-top: -35px;
  margin-left: 130px;
}

#lang-icon {
  margin-top: 40px;
  padding-left: 125px;
}

#fram-icon {
  padding-left: 140px;
}

#skill-icon {
  padding-left: 195px;
}

input[type="email"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 15px;
  width: 347px;
  margin-left: -10px;
  height: 52px;
  border: none;
  border-bottom: 1px solid #aaa;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  transition: 0.2s ease;
}

input[type="text"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-left: -10px;
  padding: 15px;
  width: 347px;
  height: 52px;
  border: none;
  border-bottom: 1px solid #aaa;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  transition: 0.2s ease;
}

input[type="submit"] {
  margin-top: 68px;
  width: 131px;
  height: 52px;
  background: #f55800;
  border: none;
  margin-left: 190px;
  border-radius: 2px;
  line-height: 24px;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  transition: 0.1s ease;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.contact-section {
  display: grid;
  grid-gap: 58px;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 100px;
  grid-template-rows: 58px 480px;
}

.contact-text {
  text-align: center;
  position: static;
  width: 370px;
  height: 216px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  padding-left: -10px;
  line-height: 40px;
  color: #172b4d;
  margin: 24px 0;
}

.contact-form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  position: static;
  width: 327px;
  height: 330px;
  top: 334px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 250px 32px;
}

#submit {
  text-align: center;
  margin: 180px 100px;
  padding: 12px;
  border: 1px solid;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #f4f5f7;
  font-size: 17px;
  background-color: #ff6b00;
  line-height: 24px;
}

#submit:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  box-sizing: border-box;
}

#comment {
  width: 340px;
  background: #fbf8f7;
  position: absolute;
  margin-left: -14px;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-style: normal;
  line-height: 24px;
  color: black;
  margin-top: 16px;
  height: 114px;
  text-transform: capitalize;
  border: none;
  padding: 5px;
}

#line {
  border: 5px rgb(0, 0, 0);
  position: absolute;
  border-radius: 40px;
  height: 4px;
  width: 120px;
  margin-top: 5px;
  margin-left: 115px;
}

#top-line {
  margin-top: 200px;
  height: 1px;
  margin-bottom: 50px;
  width: 425px;
  background-color: #dfe1e6;
  order: 1;
}

.contact {
  margin-left: 34px;
  margin-bottom: 40px;
}

.contact ul li a {
  margin-left: 20px;
}

.social-ctc {
  color: black;
  transition-property: all;
  transition-duration: 2s;
}

.social-ctc:hover {
  width: 30px;
  margin-bottom: 10px;
  height: 30px;
  background-color: #b8550e;
  padding: 5px;
}

footer {
  text-align: center;
  width: 425px;
  padding: 10px 0 10px 0;
  background-color: rgb(78, 76, 76);
}

@media only screen and (min-width: 530px) {
  .container-header {
    height: 72px;
    width: 100%;
  }

  span {
    display: none;
  }

  .header-section {
    margin-left: 142px;
  }

  #my-logo {
    margin-top: 26px;
  }

  #show-menu {
    display: none;
  }

  .nav-bar {
    margin-left: 1000px;
    background-image: url("../images/Union.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 25px;
    margin-right: 156px;
    margin-top: -26px;
    width: 600px;
  }

  .nav-bar ul {
    display: flex;
    width: 255px;
    padding: 12px 60px;
    justify-content: space-around;
    height: 40px;
    margin-top: -130px;
    right: 50px;
  }

  .hamburger div {
    display: none;
  }

  .navigation {
    margin-left: 100px;
    margin-top: -10px;
  }

  .navigation li a {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-decoration: #fff;
    width: 45px;
    height: 20px;
    margin-top: 8px;
    margin-left: -170px;
    display: flex;
    align-items: center;
    color: #fff;
    flex: none;
  }

  .navigation li a:hover:focus {
    font-size: 24px;
    color: #f08a50;
  }

  .container-headline {
    width: 100%;
    height: 870px;
    background-size: 600px;
    background-position-y: top;
    background-image: url("../images/Illustration-header.png");
  }

  .main-headline {
    width: 1685px;
    overflow-x: hidden;
  }

  .welcome {
    margin-left: 123px;
    top: 240px;
  }

  .hello {
    margin-top: 250px;
  }

  .text-supporting {
    margin-left: 138px;
  }

  #me {
    margin-top: 30px;
  }

  .description {
    margin-left: 148px;
    width: 566px;
    margin-top: 270px;
  }

  .social-media ul {
    display: flex;
    flex-direction: column;
    margin-top: -100px;
  }

  .category li {
    display: inline;
    align-items: center;
  }

  .social-media ul li {
    justify-content: space-around;
    padding: 10px;
  }

  .social-media ul li a img {
    transition-property: all;
    transition-duration: 2s;
  }

  .social-media ul li a img:hover {
    margin-left: 15px;
    width: 30px;
    height: 30px;
    background-color: #ff6b00;
    padding: 5px;
  }

  .works {
    width: 1685px;
  }

  hr {
    width: 920px;
  }

  #recent-line {
    margin-left: 20px;
    margin-top: -20px;
  }

  .recent {
    width: 355px;
    margin-top: -5px;
  }

  .recent-work-title {
    margin-left: 153px;
    margin-top: 135px;
  }

  .image-recent {
    margin-top: 121px;
    background-size: 655px;
    width: 684px;
    height: 454px;
    margin-left: 141px;
  }

  .recent-detail {
    margin-left: 849px;
    width: 668px;
    margin-top: -490px;
    height: 140px;
  }

  .card-work {
    margin: 0 141px 0 141px;
    grid-gap: 70px;
    grid-template-columns: repeat(3, 400px);
  }

  .card1-work {
    width: 400px;
  }

  .see-btn {
    padding-right: 259.5px;
  }

  .work-btn {
    margin-top: 25px;
  }

  .main-about {
    margin-top: -1220px;
    width: 100%;
    height: 1120px;
    background-image: url("../images/illustration-about\ me.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 100px;
  }

  .abt-frame {
    display: none;
  }

  .about-me {
    margin-left: 142px;
  }

  .abt-text {
    width: 566px;
    margin-top: 24px;
    margin-bottom: -80px;
  }

  #abt-line {
    margin-top: 130px;
    margin-right: 142px;
    width: 1385px;
  }

  .category .fram {
    margin-left: 500px;
    margin-top: -322px;
  }

  #fram-icon {
    margin-top: -400px;
    margin-bottom: 287px;
    margin-left: 330px;
  }

  .category .skill {
    margin-top: -390px;
    margin-left: 1000px;
  }

  #skill-icon {
    margin-top: -288px;
    margin-bottom: 355px;
    margin-left: 750px;
  }

  .category {
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 153px;
  }

  .category li .framework {
    margin-left: 450px;
  }

  .category li .skills {
    margin-left: 930px;
  }

  .contact ul {
    margin-left: 620px;
    margin-top: -10px;
    padding-bottom: 10px;
  }

  .category li ul {
    align-items: flex-start;
  }

  footer {
    width: 100%;
  }

  .contact-section {
    grid-template-rows: 58px 260px;
    margin-left: 120px;
  }

  .contact-text {
    margin-top: 20px;
    width: 455px;
    height: 256px;
    margin-left: 100px;
    text-align: left;
  }

  .contact-form {
    margin-left: 614px;
    margin-right: 142px;
    margin-top: -65px;
    width: 684px;
  }

  #comment {
    width: 684px;
  }

  #submit {
    margin-left: -18px;
  }

  #name {
    width: 684px;
  }

  #mail {
    width: 684px;
  }

  #line {
    display: none;
  }

  #top-line {
    width: 1680px;
  }
}
